<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="reasons.css">
    <title>Reasons</title>
</head>
<body>

    <section class="reasons_social">
        <h1 class="reasons_title">Social Publishing</h1>
        <h2 class="reasons_title_paragraph">Draft schedule,and post messages across all your social chanels.Shorten links with tr.in attach photos and target specific audiences</h2>
        <h3>Use our Patent-Pending Hopper to deliver content to your audience at the best time.</h3>
        <img src="../../img/reasons-box-macbook.png">
        <input type="button">
    </section>

    <section class="reasons_engagement">
            <p class="reasons_title">Engagement</p>
            <p class="reasons_title_paragraph">See a full of messages coming into your brand across all your connected social profile</p>
            <img src="../../img/reasons_engagement.png" class="reasons_engagement">
            <img src="../../img/reasons_engagement_icons.png" class="reasons_engagement_icons">
            <input type="button" class="button_primary">

    </section>
</body>
</html>