* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
    width: 100%;
    font-family: Verdana, Tahoma, sans-serif;
}

.navbar {
    width: 100%;
    height:100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    border-bottom: 1px solid #B4B9BE;
}

.navbar-reachme {
    color: #499ef7;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

.navbar-menu, .navbar-button {
    display: none;
}

.hamburger {
    color: #6C747A;
    padding: 5%;
}

@media screen and (min-width: 768px) {    
    .navbar-button a {        
        text-decoration: none;
    }

    .navbar-button-get-started, .navbar-button-login {
        border: 1px solid #B4B9BE;
        padding: 0.5rem;
        border-radius: 25px;  
        font-weight: bold; 
             
    }

    .navbar-button-login {
        color: #6C747A;
        display: inline-block;
    }

    .navbar-button-get-started {
        color: #499ef7;
        
    }

}

@media screen and (min-width: 992px) {
    .navbar-hamburger {
        display: none;
    }

    .navbar-menu, .navbar-button {
        display: block;
    }

    .navbar-menu {
        align-self: stretch;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .navbar ul {
        list-style-type: none;        
    }

    .navbar-menu li {
        display: inline-block;
    }
    
    .navbar-menu li a {
        text-transform: uppercase;
        text-decoration: none;
        color: #B4B9BE;
    }

    /* .navbar-menu a:active {
        color: #6C747A;
        border-bottom: 2px solid #499ef7;
        padding-bottom: 4%;
    } */

    .navbar-button {
        margin-left: 3%;
    }
}