<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Reach me</title>
    <link rel="stylesheet" href="navbar.css">  
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"> 
</head>
<body>
    <nav class="navbar">
        <a href="" class="navbar-reachme">reach.me</a>

        <ul>
            <li><a>Features</a></li>
            <li><a>Pricing</a></li>
            <li><a>About us</a></li>
            <li><a>Blog</a></li>
            <li><a>Contact us</a></li>
        </ul>

        <a href="">Get Started</a>
        <a href="">Log in</a>

        <a href=""><i class="navbar-hamburguer fa fa-bars" aria-hidden="true"></i></a>
    </nav>
    
</body>
</html>