<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Reach me</title>
    <link rel="stylesheet" href="navbar.css">  
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"> 
</head>
<body>
    <nav class="navbar">
        <a href="" class="navbar-reachme">reach.me</a>

        <ul class="navbar-menu">
            <li><a href="">Features</a></li>
            <li><a href="">Pricing</a></li>
            <li><a href="">About us</a></li>
            <li><a href="">Blog</a></li>
            <li><a href="">Contact us</a></li>
        </ul>

        <div class="navbar-button">
            <a class="navbar-button-login" href="">Log in</a>
            <a class="navbar-button-get-started" href="">Get Started</a>
        </div>

        <div class="navbar-hamburger">
                <a href=""><i class="hamburger fa fa-bars" aria-hidden="true"></i></a>
        </div>
        
    </nav>
    
</body>
</html>