<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Reach me</title>
    <link rel="stylesheet" href="hero.css">  
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"> 
</head>
<body>
    <section class="hero">
        <h1 class="hero-title">Reach.me Features</h1>
        <p class="hero-paragraph">Schedule, Automate, Measure and Monitor all your social media accounts from a single dashboard.</p>
        <a class="hero-button button" href="">Learn More</a>
        <figure class="hero-image">
            <img class="hero-img" src="../../img/hero-img.png">
        </figure>
    </section>

</body>
</html>