* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* seção feature*/
.feature{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;   
    height: 400px;
    padding: 30px 20px 0 20px;	
    
}

.feature--lighter-gray{
	background: #f0f5f9;		
}

.feature--darker-gray{
    background: #e6edf3 ;
}
.feature__title{
    font-size: 22px;
    padding-bottom: 20px;
    font-weight: bold;

}
.feature--groups{
    background: url("../../img/feature_group_img--background.jpg")
}

.feature__paragraph{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight:normal;
    font-size: 10px;
    color:gray;
    padding-bottom: 20px;
   
}

.feature_img_social{
    width: 300px; 
    padding-top: 30px; 
    
}

.feature_engagement--icons{
	display:block;
    width: 100%;
    max-width: 280px;
    margin: -15px auto 8px auto;
    
}

.feature_img--engagement{
    width: 260px;
    padding-top: 22px;
    margin-left:-20px;

}