<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="reasons-box.css">
    <title>Reasons box</title>
</head>
<body>
    
    <section class="reasons_social">
        
        <div class="reasons_social_titlebox">
            <h1 class="reasons_title">Social Publishing</h1>
            <h2 class="reasons_title_paragraph">Draft schedule, and post messages across all your social chanels. Shorten links with tr.in attach photos and target specific audiences</h2>
            <h3 class="reasons_title_paragraph">Use our Patent-Pending Hopper to deliver content to your audience at the best time.</h3>
            <input type="button">
        </div>

        <div>
            <img class="reasons_img_social" src="img/reasons-box-macbook.png" alt="macbook">
        </div>
        
        
    </section>

</body>
</html>