<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Reasons</title>
</head>
<body>
    
    <section class="reasons_social">
        <h1 class="reasons_title">Social Publishing</h1>
        <h2 class="reasons_title_paragraph">Draft schedule,and post messages across all your social chanels.Shorten links with tr.in attach photos and target specific audiences</h2>
        <h3>Use our Patent-Pending Hopper to deliver content to your audience at the best time.</h3>
        <img src="img/reasons-box-macbook.png">
        <input type="button">
    </section>

</body>
</html>