* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* seção feature*/
.feature{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    height: 500px;
    
}

.feature feature--lighter-gray{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;   
    width: 90%;
    height: 50%;
    padding-top: 30px;
    margin: auto 5%;
}
.feature__title{
    font-size: 25px;
}

.feature__paragraph{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight:normal;
    font-size: 13px;
    color:gray;
    margin-top:10px;
}